**/node_modules
**/.env
client/build
server/build
dist
tmp
*.log
logs
*.out
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/
mobile/.expo
mobile/.expo-shared
mobile/android
mobile/ios
docker-compose.override.yml
.env.*.local

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl