**/node_modules
**/.env
client/build
server/build
dist
tmp
.DS_Store
Thumbs.db
mobile/.expo
mobile/.expo-shared
mobile/android
mobile/ios
*.log
logs
*.out
docker-compose.override.yml
.env.*.local
*.swp
.idea/
.vscode/
